[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "==0.0.2"
csvtomd = "==0.3.0"
requests = "==2.32.3"
pytest = "==8.2.1"
flake8 = "==7.0.0"
beautifulsoup4 = "==4.12.3"

[dev-packages]
pytest = "==8.2.1"
pytest-html = "==4.1.1"

[requires]
python_version = "3.12"
