[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "==0.0.1"
csvtomd = "==0.3.0"
flake8 = "==3.9.2"
pyflakes = "==2.3.1"
requests = "==2.26.0"
pytest = "==6.2.4"

[dev-packages]

[requires]
python_version = "3.9"
