name: Make Executable

on: [push, pull_request]

jobs:
    make_executable:
        runs-on: "ubuntu-latest"

        steps:
            - uses: actions/checkout@v6

            - name: Run make_executable.sh
              run: |
                  ./make_executable.sh
              env:
                  GITHUB_TOKEN: $${{ secrets.GITHUB_TOKEN }}
