name: Python

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    build:
        runs-on: "ubuntu-latest"

        container: python:3.14-bookworm

        steps:
            - uses: actions/checkout@v6
            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Install dependencies
              run: |
                  uv sync --frozen --no-install-project --no-dev --python-preference=only-system

            - name: Check Python Programs
              run: |
                  uv run bash check.sh

            - name: Run Test(s) with pytest
              run: |
                  uv run pytest --verbose --html report/index.html

            - name: Upload Pytest Report
              uses: actions/upload-artifact@v5.0.0
              with:
                  name: Report File(s)
                  path: report/
                  retention-days: 30
